In [1]:
import pandas as pd
import numpy as np

In [2]:
!wget -O data_collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
collisions_df = pd.read_csv('data_collisions.csv')

--2020-10-04 03:16:30--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘data_collisions.csv’

100%[======================================>] 73,917,638  41.5MB/s   in 1.7s

2020-10-04 03:16:32 (41.5 MB/s) - ‘data_collisions.csv’ saved [73917638/73917638]

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
collisions_df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
collisions_df.shape

(194673, 38)

In [5]:
collisions_df['ROADCOND'].isnull().sum().sum()

5012

In [6]:
collisions_df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [7]:
# Data Preprocessing

# Weather
collisions_df.groupby(['WEATHER'])['SEVERITYCODE'].value_counts(normalize=True)

WEATHER                   SEVERITYCODE
Blowing Sand/Dirt         1               0.732143
                          2               0.267857
Clear                     1               0.677509
                          2               0.322491
Fog/Smog/Smoke            1               0.671353
                          2               0.328647
Other                     1               0.860577
                          2               0.139423
Overcast                  1               0.684456
                          2               0.315544
Partly Cloudy             2               0.600000
                          1               0.400000
Raining                   1               0.662815
                          2               0.337185
Severe Crosswind          1               0.720000
                          2               0.280000
Sleet/Hail/Freezing Rain  1               0.752212
                          2               0.247788
Snowing                   1               0.811466
                          2               0.188534
Unknown                   1               0.945928
                          2               0.054072
Name: SEVERITYCODE, dtype: float64

In [8]:
collisions_df['WEATHER'] = collisions_df['WEATHER'].replace({'Clear': 0, 'Overcast': 2, 'Raining': 4,
                                                             'Fog/Smog/Smoke': 3, 'Blowing Sand/Dirt': 5,
                                                             'Partly Cloudy': 1, 'Severe Crosswind': 6,
                                                             'Sleet/Hail/Freezing Rain': 7, 'Snowing': 8,
                                                             'Other': 9, 'Unknown': 9})

In [9]:
collisions_df.groupby(['ROADCOND'])['SEVERITYCODE'].value_counts(normalize=True)

ROADCOND        SEVERITYCODE
Dry             1               0.678227
                2               0.321773
Ice             1               0.774194
                2               0.225806
Oil             1               0.625000
                2               0.375000
Other           1               0.674242
                2               0.325758
Sand/Mud/Dirt   1               0.693333
                2               0.306667
Snow/Slush      1               0.833665
                2               0.166335
Standing Water  1               0.739130
                2               0.260870
Unknown         1               0.950325
                2               0.049675
Wet             1               0.668134
                2               0.331866
Name: SEVERITYCODE, dtype: float64

In [10]:
collisions_df['ROADCOND'] = collisions_df['ROADCOND'].replace({'Dry': 0, 'Snow/Slush': 1, 'Standing Water': 2,
                                                               'Sand/Mud/Dirt': 3, 'Oil': 4, 'Wet': 5, 'Ice': 6,
                                                               'Other': 9, 'Unknown': 9})

In [11]:
collisions_df.groupby(['LIGHTCOND'])['SEVERITYCODE'].value_counts(normalize=True)

LIGHTCOND                 SEVERITYCODE
Dark - No Street Lights   1               0.782694
                          2               0.217306
Dark - Street Lights Off  1               0.736447
                          2               0.263553
Dark - Street Lights On   1               0.701589
                          2               0.298411
Dark - Unknown Lighting   1               0.636364
                          2               0.363636
Dawn                      1               0.670663
                          2               0.329337
Daylight                  1               0.668116
                          2               0.331884
Dusk                      1               0.670620
                          2               0.329380
Other                     1               0.778723
                          2               0.221277
Unknown                   1               0.955095
                          2               0.044905
Name: SEVERITYCODE, dtype: float64

In [12]:
collisions_df['LIGHTCOND'] = collisions_df['LIGHTCOND'].replace({'Daylight': 0, 'Dawn': 1, 'Dusk': 2, 'Dark - Street Lights On': 3, 
                                                                 'Dark - Street Lights Off': 4, 'Dark - No Street Lights': 5,
                                                                 'Dark - Unknown Lighting': 9, 'Other': 9, 'Unknown': 9})

In [13]:
collisions_df.shape

(194673, 38)

In [14]:
# We define X and y for our dataset
y = np.asarray(collisions_df[['SEVERITYCODE']])
X = np.asarray(collisions_df[['WEATHER', 'ROADCOND', 'LIGHTCOND']])

# Drop all rows with 9's in the X array because they represent unknown or insufficient data
y = y[~np.all(X == 9, axis=1)]
X = X[~np.all(X == 9, axis=1)]

X.shape

(184140, 3)

In [15]:
# Confirm that X and y have the same number of rows
y.shape

(184140, 1)

In [16]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (147312, 3) (147312, 1)
Test set: (36828, 3) (36828, 1)

In [17]:
# Remove any rows with NaNs
X_test[np.isfinite(X_test) == False] = 0
#X_test = X_test[~np.all(X_test == 9, axis=1)]
X_train[np.isfinite(X_train) == False] = 0
#X_train = X_train[~np.all(X_train == 9, axis=1)]

In [18]:
# Check that no NaNs remain
np.any(np.isnan(X_test))

False

In [19]:
np.any(np.isnan(X_train))

False

In [20]:
# Also check that all values are finite
np.all(np.isfinite(X_test))

True

In [21]:
np.all(np.isfinite(X_train))

True

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# Create Logistic Regression model
LR = LogisticRegression(C=0.01)
LR.fit(X_train,y_train)

# Predict
predLR = LR.predict(X_test)
print("Logistic Regression's Accuracy: ", metrics.accuracy_score(y_test, predLR))

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression's Accuracy:  0.6811393504941892

In [23]:
from sklearn.tree import DecisionTreeClassifier

# Create the decision tree model
decisionTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
decisionTree.fit(X_train,y_train)

# Predict
predTree = decisionTree.predict(X_test)

# Evaluate
print("Decision Tree's Accuracy: ", metrics.accuracy_score(y_test, predTree))

Decision Tree's Accuracy:  0.6811393504941892